/best_model_fold_1.pth
/best_model_fold_2.pth
/best_model_fold_3.pth
/best_model_fold_4.pth
/best_model_fold_5.pth
/run_model_comparison.sh
/data/*
__pycache__/
/optimization/plots/*
optimization/optuna_study.db
ICKAN/
Forest-Sound-Analysis-on-Edge-main/
data_copy/