/best_model_fold_1.pth
/best_model_fold_2.pth
/best_model_fold_3.pth
/best_model_fold_4.pth
/best_model_fold_5.pth
/run_model_comparison.sh
/data/*
__pycache__/
/optimization/plots/*
optimization/optuna_study.db
data
optimization/plots
optimization/logs
optimization/results
results
model_files
logs
latency_reports
latency_report_without_residual
logs_without_residual
plots
results_without_residuals
trained_models_without_residuals