audiomentations==0.43.1
features==0.5.12
librosa==0.11.0
matplotlib==3.10.7
numpy==2.3.4
optuna==4.5.0
pandas==2.3.3
PyYAML==6.0.3
scikit_learn==1.7.2
seaborn==0.13.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
